body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(20,147,220), rgb(17,54,71));
}

#espaco-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.6);
}

.campoForm{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.btnEnviar{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: white;
}

.btnEnviar:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

.tabela_usuarios{
    border: 3px #000 solid;
    border-radius: 10px;
    padding: 15px;
    width: 70%;
}

.tabela_usuarios th{
    border-bottom: 2px #393939 solid;
}
