*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #EAEAEA;
}

.formulario{
    color: white;
    padding: 15px;
    border-radius: 15px;
    background-color: #cacaca;
    text-align: center;
}

.campoForm{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 95%;
    border-radius: 10px;
     
}

input[type="file"]{
    display: none;
}

.campoFoto{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #38347B;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s; 
    border-radius: 10px;
}

.campoFoto:hover{
    background-color: #5B57A2;
}

.btnEnviar{
    background-color: #38347B;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    width: 25%;
    transition: .5s;  
}

.btnEnviar:hover{
    background-color: #5B57A2;
    cursor: pointer;
}

.tabela_usuarios{
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    background-color: #FFF;
    color: black;
    
}

.tabela_usuarios th{
    border-bottom: 2px #575757 solid;
    border-right: 2px #575757 solid;
    padding: 5px;
}

.tabela_usuarios td{
    border-bottom: 2px #575757 solid;
    border-right: 2px #575757 solid;
    padding: 5px;
}

.tabela_usuarios td a{
    text-decoration: none;
}

#geral{
    width: 1024px;
    height: 100%;
    display: flex;
    height: 100vh;
}

#geral-esq{
    width: 238px;
    background: #5B57A2;
    color: #EAEAEA;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-weight: bold;
}

#logo{    
    padding: 32px;
    background: #38347B;
}

#menu{
    padding: 32px;
}

#menu nav ul li{
    list-style: none;
    margin-bottom: 20px;
}

#menu nav ul li a{
    color: #EAEAEA;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

#menu nav ul li a:hover{
    color: #969696;
}

#geral-dir{
    flex-grow: 1;
    padding: 42px 0px 0px 25px;
}

#geral-dir section{
    margin-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 354px 354px;
    grid-template-rows: 258px 258px;
    gap: 25px;

}

.titulo-aba{
    border-radius: 10px 10px 0px 0px;
    background: #D9D9D9;
    width: 134px;
    margin-left: 18px;
    height: 10px;
    color: #929292;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.titulo-aba p{
    margin-left: 12px;
}

.conteudo-aba{
    height: 208px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    font-family: Trebuchet MS;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.mapa-site{
    
}

.mapa-site p{
    font-family: Trebuchet MS;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #38347B;
}

.mapa-site p a{
    font-family: Trebuchet MS;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: #38347B;
}

.mapa-site p a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.mapa-site h1{
    font-family: Trebuchet MS;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #38347B;
}

